<!-- dashboard.html -->
{% extends 'base.html' %}

{% block content %}

<style>
    #calendar {
        width: 50%; /* Adjust the width as needed */
        margin: 0 auto; /* Center the calendar horizontally */
    }
</style>

<!-- Dashboard Section -->
<section class="dashboard py-5">
    <div class="container">
        <h2 class="text-center mb-4">Welcome back {{ user }}!</h2>
        <div class="row mt-3 text-center">
            <div class="col-md-4 offset-md-4 mt-1">
                <div class="card bg-dark text-light">
                    <div class="card-body">
                        <h5 class="card-title">Recipe Recommendation</h5>
                        <p class="card-text">Based on the time of day, we recommend the following meal:</p>
                        <p class="card-text">{{ recommended_meal }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mt-1">
                <div class="card bg-info text-light">
                    <div class="card-body">
                        <h5 class="card-title">Recipes</h5>
                        <p class="card-text">You have {{ total_recipes }} recipes available.</p>
                        <a href="#" class="btn btn-light">View Recipes</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-1">
                <div class="card bg-success text-light">
                    <div class="card-body">
                        <h5 class="card-title">Ingredients</h5>
                        <p class="card-text">You have {{ total_ingredients }} ingredients available.</p>
                        <a href="#" class="btn btn-light">View Ingredients</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-1">
                <div class="card bg-warning text-dark">
                    <div class="card-body">
                        <h5 class="card-title">Meals</h5>
                        <p class="card-text">You have {{ total_meals }} meals available.</p>
                        <a href="#" class="btn btn-light">View Meals</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4 mt-1">
                <div class="card bg-primary text-light">
                    <div class="card-body">
                        <h5 class="card-title">Cuisine Types</h5>
                        <p class="card-text">You have {{ total_cuisine_types }} cuisine types available.</p>
                        <a href="{% url 'cuisine_types:cuisine_type_list'%}" class="btn btn-light">View Cuisine Types</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-1">
                <div class="card bg-danger text-light">
                    <div class="card-body">
                        <h5 class="card-title">Meal Types</h5>
                        <p class="card-text">You have {{ total_meal_types }} meal types available.</p>
                        <a href="#" class="btn btn-light">View Meal Types</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-1">
                <div class="card bg-secondary text-light">
                    <div class="card-body">
                        <h5 class="card-title">Planner</h5>
                        <p class="card-text">You have {{ total_meal_plans }} planner items available.</p>
                        <a href="{% url 'meal_planner:planner_list'%}" class="btn btn-light">View Planner</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id='calendar' class="mt-3"></div>
</section>

    <!-- End Dashboard Section -->
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        var data = {{meal_plans | safe}};
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                events:data
            });
        });
    </script>
{% endblock js %}

