{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="container">
    <h1 class="mb-4 mt-2">My Recipes</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for recipe in recipes %}
        <div class="col">
            <div class="card h-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ recipe.title }}</h5>
                    <p class="card-text">{{ recipe.description }}</p>
                    <h6 class="card-subtitle mb-2 text-muted">Ingredients:</h6>
                    <ul class="list-group list-group-flush flex-grow-1">
                        {% for recipe_ingredient in recipe.recipeingredient_set.all %}
                            <li class="list-group-item">{{ recipe_ingredient.ingredient.name }} - {{ recipe_ingredient.quantity }} {{ recipe_ingredient.unit }}</li>
                        {% endfor %}
                    </ul>
                    {% comment "" %}
                    <div class="mt-auto text-center">
                        <a href="{% url 'recipes:recipe_update' recipe.pk %}" class="btn btn-primary">Edit</a>
                    </div>
                    {% endcomment %}

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
