{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5 class="card-title mb-0">Meal Types</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for meal_type in meal_types %}
                            <li class="list-group-item">{{ meal_type.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
