{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="mb-4 mt-2">Category List</h1>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.description|default_if_none:"---" }}</td>
                    <td>
                        <a href="{% url 'ingredients:category_update' category.pk %}" class="btn btn-sm btn-primary">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
